<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <!--ConsoleAppender : 로그를 콘솔에 출력 -->
    <appender name="CONSOLE"
              class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>[%d{yyyy-MM-dd HH:mm:ss}:%-3relative][%thread] %-5level %logger{35} - %msg%n
            </pattern>
        </encoder>
    </appender>

    <!--FileAppender : 로그를 지정 파일에 기록-->
    <!--RollingFileAppender : FileAppender을 상속. 날짜와 용량등을 설정해서 패턴에 따라 로그가 각기 다른파일에 기록되게 할 수 있음.-->
    <appender name="LOG_FILE"
              class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_FILE}.log</file>
        <encoder
                class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <Pattern>[%d{dd-MM-yyyy HH:mm:ss.SSS}][%thread] %-5level %logger{36}.%M - %msg%n
            </Pattern>
        </encoder>
        <!--일자별 + 크기별 적용-->
        <rollingPolicy
                class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>
                ${LOG_FILE}-%d{yyyy-MM-dd}-%i.log.zip
            </fileNamePattern>
            <!-- 한 파일당 최대 파일 용량 -->
            <maxFileSize>
                ${LOG_FILE_MAX_SIZE:-500MB}
            </maxFileSize>
            <!-- 한 파일의 최대 저장 기한 -->
            <maxHistory>
                ${LOG_FILE_MAX_HISTORY:-0}
            </maxHistory>
        </rollingPolicy>
    </appender>

    <!-- appender 등은 spring 에서 제공하는 base.xml, default.xml 을 그대로 사용 -->
    <springProfile name="local">
        <logger name="org.springframework.web"
                level="DEBUG"/>
        <logger name="org.springframework.core"
                level="INFO"/>
        <logger name="org.springframework.beans"
                level="INFO"/>
        <logger name="org.springframework.context.annotation"
                level="INFO"/>
        <logger name="org.springframework.aop.framework"
                level="INFO"/>
        <logger name="org.springframework.boot.autoconfigure.logging"
                level="DEBUG"/>
        <logger name="org.springframework.security.web"
                level="INFO"/>
        <logger name="org.apache" level="INFO"/>
        <logger name="org.hibernate.persister"
                level="INFO"/>
        <logger name="org.hibernate.cfg"
                level="INFO"/>
        <logger name="org.hibernate.type"
                level="INFO"/>
        <logger name="org.hibernate.loader.plan"
                level="INFO"/>
        <logger name="org.hibernate.boot"
                level="INFO"/>
        <logger name="org.hibernate.engine.internal"
                level="INFO"/>
        <logger name="org.hibernate.loader.Loader"
                level="INFO"/>
        <logger name="org.hibernate.hql.internal.ast.tree"
                level="INFO"/>
        <logger name="org.springframework.orm.jpa"
                level="INFO"/>
        <logger name="com.sun.xml" level="INFO"/>
        <logger name="server.spring" level="DEBUG"/>

        <root level="DEBUG">
            <appender-ref ref="CONSOLE"/>
            <appender-ref ref="LOG_FILE"/>
        </root>
        <root level="INFO">
            <appender-ref ref="CONSOLE"/>
            <appender-ref ref="LOG_FILE"/>
        </root>
    </springProfile>


</configuration>